# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.idea/
loveauth
logs/*.log*
.DS_Store

*.log
*.bak
*.bat
configs/*.yaml
!configs/*.default.yaml
configs/*.json
!configs/*.default.json
tsconfig.json
*.bat
templates/~$*
._.DS_Store
_obj/
